body{
  background-color: #e96a28 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.form-signin {
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;  
  vertical-align: center;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;  
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.input-group-pass{
  margin-top:10px;
}
.customCheckRecordarme{
  margin-top:1rem !important;
}
.customCheckRecordarme > label{
  margin-bottom:0px !important;
}
.customBtnLogin{
    background-color: #e96a28 !important;
    border-color: #e96a28 !important;
}
.customFondoRegister{
  background-color: #e96a28 !important;
}