.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;  
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .input-group-pass{
    margin-top:10px;
  }
  .customCheckRecordarme{
    margin-top:1rem !important;
  }
  .customCheckRecordarme > label{
    margin-bottom:0px !important;
  }
  .customBtnLogin{
      background-color: #e96a28 !important;
      border-color: #e96a28 !important;
  }
  .input-group-text{
      font-size: 13px;
      color:#949698;
  }